.navItem {
  display: block;
  text-align: left;
  width: 14rem;
  cursor: pointer;

  a {
    padding: 1rem;
    display: block;

    span {
      font-size: 0.85rem;
      display: inline;
    }
  }

  &:hover {
    background: #b9b6b636;
    font-weight: bold;
  }

  &:focus {
    background: #b9b6b636;
    font-weight: bold;
  }
}

.active {
  background: #b9b6b636;
  font-weight: bold;
}
