.dataTables_empty {
}

.plusBtn {
  height: 1.8rem;
  width: 1.8rem;
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  color: #fff;
  background-color: #006837;
  border-color: #006837;
}