.golfTurfScoutingModule {
  width: calc(100vw - 224px - 1.5rem - 50px);
  height: calc(95vh - 120px);
}

#fields,
#calendar,
#fieldInfo {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.leaflet-control-attribution.leaflet-control a svg{
  opacity: 0.0;
  width: 0;
}